/*Á·Ï°Ìâ¶þ*/
	h3{
		color: #9c2f06;
		font-size:18px;
		font-weight:bold;
		line-height:40px;
	}
	p{
		color:#9c2f06;
		font-size:12px;
		line-height:20px;
	}


/*Á·Ï°ÌâÈý*/
	h3{
		text-align:center;
		font-size:18px;
		line-height:25px;
		color:black;
	}
	.s1{
		text-align:center;
		font-size:12px;
		color:#666666;
	}
	font{
		font-weight:bold;
		color:black;
	}
	p{
		line-height:20px;
		text-indent:26px;
		color:black;
	}
	.s2{
		vertical-align: middle;
	}

/*Á·Ï°ÌâËÄ*/
.p0{width:240px;height:400px;}

.p1{	
		font-size:10px;
		line-height:40px;
		color:white;
		background-color:#0f7cbf;		
		text-indent:10px;		
		}
.p1 h1{
		margin:0px;
	}
.p3{
		width:240px;
		height:70px;		
		background-color:white;
		margin:0px;
	}

.p3 ul li{
		list-style:none;		
	}
.p3 ul li a{
		text-decoration:none;
		float:left;
		font-size:10px;
		line-height:20px;
		color:#666666;
		margin-right:20px;
		
		
	}
.p4{	
		line-height:30px;
		font-size:15px;
		font-weight:bold;
		background-color:#e4f1fa;
		text-indent:20px;		
	}
.p4 a{
	text-decoration:none;	
	}
.p5{width:240px;
	height:50px;
	margin:0px;
	bottom:0px;

	}
.p5 ul li{
	list-style:none;
	}
.p5 ul li a{
	text-decoration:none;
	float:left;
	font-size:10px;
	line-height:20px;
	color:#666666;
	margin-right:20px;
	}
/*¿ÎºóÒ»*/
ul li{
	list-style-type: none;
}
.w1{
	text-indent:28px
}
.w2{
	text-indent:64px
}
p{
	color:#5c9815;
}
.r8{
	color:#f26522;
}
body{
	background:#EEEEEE;
}
.t1{
	background-color:#097290;
}
.t2{
	background-color:#387f57;
}
.t3{
	background-color:#3eb9dc;
}
.t4{
	background-color:#549cb1;
}
.t5{
	background-color:#3b4c84;
}
.r1{
	background-color:#f1a955;
}
.r2{
	background-color:#ca1616;
}
.r3{
	background-color:#c78e8e;
}
.r4{
	background-color:#ca1616;
}
.r5{
	background-color:#632646;
}
.r6{
	background-color:#4a2237;
}
span{
	color:white;
}

/*¿Îºó3*/
.box1{
	width:291px;
	height:80px;
	text-align: justify;
}
div a{
	font-size: 12px;/*12px  14px*/
	text-decoration: none;
}
div a:link{
	color:black;
}
div a:hover{
	color:#f60;
	text-decoration: underline;
}
div h1{
	line-height: 41px;
	text-indent: 50px;
	font-size: 18px;
	font-weight: bold;
	background: url("Í¼Æ¬ËØ²Ä/dress01.png") no-repeat;
}
div h2{
	line-height: 41px;
	text-indent: 50px;
	font-size: 18px;
	font-weight: bold;
	background: url("Í¼Æ¬ËØ²Ä/dress02.png") no-repeat;
}
div h4{
	line-height: 41px;
	text-indent: 50px;
	font-size: 18px;
	font-weight: bold;
	background: url("Í¼Æ¬ËØ²Ä/dress03.png") no-repeat;
}
div h5{
	line-height: 41px;
	text-indent: 50px;
	font-size: 18px;
	font-weight: bold;
	background: url("Í¼Æ¬ËØ²Ä/dress04.png") no-repeat;
}
div h6{
	line-height: 41px;
	text-indent: 50px;
	font-size: 18px;
	font-weight: bold;
	background: url("Í¼Æ¬ËØ²Ä/dress05.png") no-repeat;
}









