.d1{
			width:300px;
			height:500px;
		
	}
div h2{	
			background:url("../../img/bang.gif") 100px 0px;
			background-repeat:no-repeat;			
			font-size:16px;
			color:white;
			text-indent:10px;
			line-height:25px;
			background-color:#518700;
	}
.a1{
			list-style:none;
			background:url("../../img/05/book_no01.gif")0px 0px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a1 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a1 a:hover{color:#1a66b3;text-decoration:underline;}
.a1 a:link{color:#1a66b3;}

.a2{
			list-style:none;
			background:url("../../img/05/book_no02.gif");	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a2 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a2 a:hover{color:#1a66b3;text-decoration:underline;}
.a2 a:link{color:#1a66b3;}

.a3{
			list-style:none;
			background:url("../../img/05/book_no03.gif");	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a3 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a3 a:hover{color:#1a66b3;text-decoration:underline;}
.a3 a:link{color:#1a66b3;}

.a4{
			list-style:none;
			background:url("../../img/05/book_no04.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a4 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a4 a:hover{color:#1a66b3;text-decoration:underline;}
.a4 a:link{color:#1a66b3;}

.a5{
			list-style:none;
			background:url("../../img/05/book_no05.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a5 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a5 a:hover{color:#1a66b3;text-decoration:underline;}
.a5 a:link{color:#1a66b3;}

.a6{
			list-style:none;
			background:url("../../img/05/book_no06.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a6 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a6 a:hover{color:#1a66b3;text-decoration:underline;}
.a6 a:link{color:#1a66b3;}

.a7{
			list-style:none;
			background:url("../../img/05/book_no07.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a7 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a7 a:hover{color:#1a66b3;text-decoration:underline;}
.a7 a:link{color:#1a66b3;}

.a8{
			list-style:none;
			background:url("../../img/05/book_no08.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a8 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a8 a:hover{color:#1a66b3;text-decoration:underline;}
.a8 a:link{color:#1a66b3;}

.a9{
			list-style:none;
			background:url("../../img/05/book_no09.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a9 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a9 a:hover{color:#1a66b3;text-decoration:underline;}
.a9 a:link{color:#1a66b3;}

.a10{
			list-style:none;
			background:url("../../img/05/book_no10.gif") 3px 5px;	
			background-repeat:no-repeat;
			text-indent:25px;
	}
.a10 a{
			text-decoration:none;
			font-size:12px;
			line-height:23px;
			
			
	}	
.a10 a:hover{color:#1a66b3;text-decoration:underline;}
.a10 a:link{color:#1a66b3;}

