.d1{
		width:640px;
		height:800px;
		background-color:#EEEEEE;
	}
.d1 h1{
		background-color:blue;
		font-size:35px; 
		color:white;
		
	}
.d1 p{
		color:#5c9815;
		
	}
.d2{
		color:white;
		background-color:#0000CD;
	}
.d3{
		color:white;
		background-color:#00FA9A;
	}
.d4{
		color:white;
		background-color:#87CEFA;
	}
.d5{
		color:white;
		background-color:#8470FF;
	}
.d6{
		color:white;
		background-color:#000080;
	}


.a0{color:#f26522;}


.a1{
		color:white;
		background-color:#FF7F50;
	}

.a2{
		color:white;
		background-color:#DC143C;
	}

.a3{
		color:white;
		background-color:#CD5C5C;
	}

.a4{
		color:white;
		background-color:#B22222;
	}

.a5{
		color:white;
		background-color:#9400D3;
	}

.a6{
		color:white;
		background-color:#9400D3;
	}