/*Á·Ï°Ìâ¶þ*/
body{
	background-color:gray;
	width:225px;
}
h1{
	background-color:black;
	color:white;
	width:225px;
	margin-bottom:0px;
}
.s9{
	line-height:27px;
	text-indent:30px;
	border-bottom-style:dashed;
	background-color:white;
	width:225px;
}
.t1{
	background:url("image2/icon_01.gif") no-repeat;
	margin-top:0px;
	margin-bottom:0px;
}
.s8{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t2{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_02.gif") no-repeat;

}
.s7{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t3{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_03.gif") no-repeat;

}
.s6{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t4{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_04.gif") no-repeat;

}
.s5{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t5{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_05.gif") no-repeat;

}
.s4{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t6{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_06.gif") no-repeat;

}
.s3{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t7{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_07.gif") no-repeat;

}
.s2{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t8{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_08.gif") no-repeat;

}
.s1{
	line-height:27px;
	text-indent:30px;
	background-color:white;
	width:225px;
	border-bottom-style:dashed;
}
.t9{
	margin-top:0px;
	margin-bottom:0px;
	background:url("image2/icon_09.gif") no-repeat;

}













