		.header{
			margin-top: 0px;
			    width: 778px;
			text-align:right;
			font-size: 10px;
			background-color: black;
				color: white;
		}
		.main{
			margin-top: -10px;
			    width: 778px; 
			background: url(image/vi.jpg) no-repeat;
		}
		.main h3{
			text-indent: 150px;
			font-size: 12px;
			margin-top:0px;
			line-height: 24px;
		}
		.main h2{
			margin:0px 0px;
			text-indent: 120px;
			font-size: 12px;
			line-height:24px;
		}
		.nav{
			background: url(image/hover_bg.jpg) 112px 0px no-repeat;
			margin-top: -12px;
		}

		.nav a{
			letter-spacing:10px;
			font-size: 13px;
			text-align: center;
			color: black;
			display: block;
			width: 113px;
			height: 23px;
			float: left;
			text-decoration: none;
			background: url(image/h4_bg.jpg) 112px 0px no-repeat;
		}
		.content{
			margin-bottom: 0px;
			clear: both;
			width: 778px;
			height: 800px;
			border: 1px #c0c0c0 solid;
		}
		.footer{
			
			line-height: 39px;
			color: white;
			height: 40px;
			font-size: 12px;
			text-align: center;
			background-color: black;
			width: 778px;			
		}
		h4{
				margin: 0px 0px;
			}
		a:hover{
			 
			background: url(image/hover_bg.jpg) 0px 0px repeat;
		}
		#wrap{
			border: 2px #c0c0c0 solid;
			width: 778px;
		}
		.kj1{
			text-align: center;
			margin: 6px; 
			float: left;
			border: 1px #c0c0c0 solid;
		}
		.kj1 input{
			width: 200px;
			border: 1px black solid;

		}
		.kj1 .box1{
			background: url(image/nav_bg.jpg);
		}
		.kj1 .j1{
			letter-spacing: 5px;
    		text-indent: 1px;
		}
		.kj1 h5{
			line-height: 45px;
			margin-top: 0px;
			    width: 283px;
			text-indent: -42px;
			letter-spacing:21px;
			background: url(image/nav_bg.jpg) 0px 20px repeat-x;
		}
		.kj2{/*日志框架*/
			margin-top: 6px;
			float:right;
			border: 1px #c0c0c0 solid;
			width: 479px;
		}
		.kj2 .k2{/*日志标题1*/
		    margin-bottom: 16px;
			margin-top: 0px;
   			line-height: 51px;
			letter-spacing:21px;
			background: url(image/nav_bg.jpg) 0px 20px repeat-x;
		}
		.kj2 h6{/*日志文本标题*/
		    margin-bottom: 0px;
		       margin-top: 0px;
			text-indent: 10px;
			font-weight: bold;
		}
		.kj2 .j2{/*日志时间*/
		    margin-top: 0px;
			width: 481px;
		    display: inline-block;
			text-indent: 10px;
			color: #c0c0c0;
			border-bottom: 2px #c0c0c0 dashed;
		} 
		.kj2 p{/*日志内容*/
			text-indent: 20px;
			font-size: 14px
		}
		.kj3{/*留言框架*/
			float:left;
			margin-left: 6px;
			text-align: center;
			clear:both;
			width: 284px;
			border: 1px #c0c0c0 solid;
		}
		.kj3 .j3{/*标题*/
			font-size: 14px;
			line-height: 45px;
			margin-top: 0px;
			    width: 283px;
			text-indent: -42px;
			letter-spacing:21px;
			background: url(image/nav_bg.jpg) 0px 20px repeat-x;
		}
		.kj3 span{/*菱形*/
			display: inline-block;
			width: 12px;
			font-size: 22px;
			
		}
		.kj3 .k3{/*文本*/
			text-indent: -4px;
			font-size: 10px;
			border-bottom: 1px black dashed;
		}
		.kj4{/*第四个框架*/
			margin-top: -15px;
			float:right;
			border: 1px #c0c0c0 solid;
			width: 479px;
		}
		.kj4 h3{/*文本标题*/
			margin-bottom: 0px;
			text-indent: 10px;
			margin-top: 6px;
			font-size: 12px;
			font-weight: bold;
		}
		.kj4 span{/*时间*/
			 margin-top: 0px;
			width: 481px;
		    display: inline-block;
			text-indent: 10px;
			color: #c0c0c0;
			border-bottom: 2px #c0c0c0 dashed;
		}
		.kj4 p{/*文本内容*/
			text-indent: 20px;
			font-size: 14px
		}
		.kj5{/*第五个框架*/
		    width: 770px;
   			margin-left: 6px;
 			margin-top: 8px;
			border: 1px #c0c0c0 solid;
			clear: both;
			float: left;
		}
		.kj5 h4{
			font-size: 14px;
			line-height: 45px;
			text-indent: 29px;
			letter-spacing:21px;
			background: url(image/nav_bg.jpg) 0px 20px repeat-x;
		}
		.kj5 img{/*图片标签*/
				margin-top: 6px;
			    margin-left: 30px;
    			margin-right: 20px;
		}
		.kj5 span{/*文字标签*/
			margin-top: 0px;
		}
		.kj5 .k5{/*第五个框架里的小框架*/
			clear: both;
			float:left;
		}
		.kj5 .j1{/*文字*/
			margin-left: 38px;
		}
		.kj5 .j2{/*文字*/
			margin-left: 85px;
		}
		.kj5 .j3{/*文字*/
			margin-left: 93px;
		}
		.kj5 .j4{/*文字*/
			margin-left: 84px;
		}
		.kj5 .j5{/*文字*/
			margin-left: 104px;
		}