.box{
		width:150px;
		height:230px;		
		border:1px solid #00BFFF;
		background-color:	#F5F5F5;
	}
.box h3{
		border:1px solid #00CED1;
		background:url("../../img/06/title_icon.gif") 5px 9px no-repeat;
		text-indent:25px;
		line-height:30px;
		margin-top:0px;
		margin-bottom:0px;
	}
.box ul{
		padding-left:5px;
		padding-right:5px;
		margin-top:5px;
	}
.box ul li{
		list-style:none;
		line-height:25px;
		font-size:13px;
		background:url("../../img/06/submenu.gif") -18px 4px no-repeat;
		border-bottom:solid #00CED1 1px;
	}

.box ul li a{
		text-decoration:none;
	}
.box ul li a:hover{
		color:red;
	}